.main{
   display: flex;
   justify-content:center;
   gap: 50px;
   height: 100vh;
   align-items: center;
   margin: auto;
}
.circle1 {
    
    height: 200px;
    width: 200px;
    

}
.circle1 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.circle2{
   
    height: 200px;
    width: 200px;
    
}
.circle2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
     object-fit: cover;

}
.circle3{
    
    height: 200px;
    width: 200px;
    left: 548px;
}
.circle3 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
     object-fit: cover;
 }

.upcircle{
   position: relative;

}   
.upcircle1{
  position: absolute;
    height: 80px;
    width: 80px;
    left: 411px;
   
    bottom:308px
}
.upcircle1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.upcircle2{
    
    position: absolute;
    height: 80px;
    width: 80px;
    left: 640px;
    bottom: 308px;
    
}
.upcircle2 img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.upcircle3{
  left: 886px;
   bottom: 308px;
    height: 80px;
    width: 80px;
    position: absolute;
}
.upcircle3 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

